html {
  height: 100%;
}
@media (max-height: 500px) {
  body {
    min-height:800px;
  }
}
body {
  font-family: "Roboto Mono", monospace;
  min-height: 600px;
  background-image: url("https://wallpaperaccess.com/full/1984634.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;

}
.esquerda {
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 90px 35px 75px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(5px);
  margin: 35px;
 }
.page-title {
  color: #4cc4fc;
  margin: 0 0 25px;
  font-size: 2.1rem;
  text-shadow: #1b1c1f 2px 3px 2px;
}
.page-subtitle {
  color: #4cc4fc;
  text-shadow: #1b1c1f 2px 3px 2px;
  margin-top: 15px;
  font-size: 1.9rem;
}
.page-logo {
  width: 200px;
  padding-bottom: 20px;
}

input {
  text-align: center;
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  border: solid 2px #2383B0;
  background-color: #f7f7f7;
  height: 30px;
  width: 247px;
  color: #292929;
}
button {
  margin-top: 20px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #98DDFD;
  height: 50px;
  cursor :pointer;
  border: solid 2px #2383b0;
  color: #2383b0;
}
button:hover {
  transition-duration: 0.1s;
  background-color: #25617D;
  border: solid 2px #4CC4FC;
  color: #4CC4FC;
}
button:active {
  transition-duration: 0.1s;
  background-color: #4CC4FC;
  border: solid 2px #25617D;
  color: #25617D;
}
input, button, select {
  font-size: 1rem;
}
.resultado-final {
    color: #f7f7f7;
    font-size: 1.7rem;
    box-sizing: border-box;
    background-color: #25617D;
    padding: 0.7rem 0 0.7rem;
}
.vazio {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder { /* Firefox 18- */
  color: transparent;  
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
  color: transparent;  
}
input:focus:-ms-input-placeholder {
  color: transparent;  
}