html {
  height: 100%;
}
@media (max-height: 500px) {
body {
  min-height:800px;
}
}
body {
  font-family: 'Roboto Mono', monospace;
  min-height: 854px;
  background-image: url('https://pbs.twimg.com/media/ESIG8V7XsAMqOkJ.jpg');
background-color: #000000;
background-size: cover;
background-position: center top;
background-repeat: no-repeat;
background-attachment: fixed;
}
.container {
  text-align: center;
  padding: 20px;
}

.page-title {
color: #ffffff;
margin: 0 0 25px;
font-size: 2.4rem;
}
.opcoes {
color: #ffffff;
margin-top: 15px;
margin-bottom: 15px;
font-size: 1.3rem;
}
h2 {
color: #ffffff;
margin-top: 15px;
margin-bottom: 15px;
font-size: 1.9rem;
}
.page-logo {
width: 350px;
padding-bottom: 65px;
}

.alura-logo {
width: 40px;
position: absolute;
top: 10px;
right: 10px;
}

button {
  padding: .8rem 1.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}


#carta-jogador {
  width: 360px;
  height: 500px;
  overflow: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

#carta-jogador h3 {
  text-align: center;
}

.carta-imagem {
  border: 1px solid black;
  height: 100px;
  margin: 10px;
}

.carta-imagem img {
  width: 100%;
  height: 100%;
}

.carta-status {
  height: 160px;
  margin: 1.5rem;
}

.carta-status input {
  margin: 20px 10px;
}

.opcoes {
  color: white;
}

#resultado {
  color: #eee;
text-align: center;
  font-size: 2.8rem;
  font-weight: bolder;
  height: 5.4;
  box-sizing: border-box;
  background-color: #1c1c1c;
  padding: 0.7rem 0 0.7rem;
}