/* GERAL */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  height: 100%;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

body {
  min-height: 400px;
  background-image: url('https://thumbs.gfycat.com/ImpracticalFearfulEsok-size_restricted.gif');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.alura-logo {
  width: 40px;
  bottom: 10px;
  right: 10px;
}

.page-logo {
  width: 200px;
  position: absolute;
  top: 40px;
  right: 40px;
}

/* ÁREA DE TRABALHO */
.container {
  color: #f6f6f6;
  margin: 64px;
  padding: 64px;
  min-width: 550px;
}

/* PERFIL - ÁREA SUPERIOR*/
.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgba(51, 52, 57, 0.7);
  backdrop-filter: blur(7px);
  --webkit-backdrop-filter: blur(100px);
  margin-top: 28px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #333;
}

.perfil-foto {
  border-radius: 460px;
  max-height: 160px;
  box-shadow: 4px 4px 4px #333;
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 40px;
  text-shadow: #333 2px 3px 2px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 18px;
}

/* PROJETOS - PARTE INTERNA*/
.projetos {
  display: flex;
  flex-direction: column;
  background: rgba(51, 52, 57, 0.7);
  backdrop-filter: blur(7px);
  --webkit-backdrop-filter: blur(100px);
  margin-top: 28px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #333;
  min-width: 450px;
}

.projetos-titulo {
  margin-left: 35px;
  font-weight: 700;
  font-size: 40px;
  text-shadow: #333 3px 4px 3px;
}

.projetos-item {
  list-style-type: none;
  font-weight: 400px;
  line-height: 48px;
  font-size: 1.3rem;
  text-align: left;
  padding: 0.6rem;
}

.projetos-item:hover {
  cursor: pointer;
  background-color: #003b6f;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}

.projetos a {
  color: #eee;
  text-decoration: none;
}

.legenda p {
  margin-top: 30px;
  font-size: 0.8rem;
}
.texto {
  display: flex;
  flex-direction: column;
  background: rgba(51, 52, 57, 0.7);
  backdrop-filter: blur(7px);
  --webkit-backdrop-filter: blur(100px);
  margin-top: 28px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #333;
  min-width: 450px;
  font-size:40px;
  list-style-type: none;
  font-weight: 400px;
  line-height: 48px;
  font-size: 1.1rem;
  text-align: left;
  padding: 45px;
}

.texto h1 {
  margin-left: 35px;
  font-weight: 700;
  font-size: 40px;
  text-shadow: #333 3px 4px 3px;
}

/* RODAPÉ - PARTE INFERIOR */
.rodape {
  background: rgba(51, 52, 57, 0.7);
  backdrop-filter: blur(7px);
  --webkit-backdrop-filter: blur(100px);
  margin-top: 28px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #333;
}

.social img {
  width: 50px;
  height: 50px;
  margin: 8px;
}

.social a {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}