html {
    height: 100%;
}
@media (max-height: 500px) {
  body {
    min-height:800px;
  }
}
body {
  font-family: 'Roboto Mono',monospace;
  min-height: 400px;
  background-image: url('https://img.freepik.com/foto-gratis/cierre-mano-conectando-dispositivo-ssd_23-2149328260.jpg');
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  text-align: center;
  padding: 50px;
  height: 100vh;
}
.page-title, .page-subtitle{
  text-shadow: #1b1c1f 2px 3px 2px;
}
.page-title {
  color: #e0af26;
  margin: 25px 0 25px;
  font-size: 2.8rem;
}
.page-subtitle {
  color: #eee;
  margin-top: 15px;
  font-size: 2.1rem;
}
.page-logo {
  width: 200px;
  padding-bottom: 20px;
}

.areaCalculo {
  margin-top: 28px;
  padding: 32px;

}
.aluno, .nota{
  font-size: 2.1rem;
  color: #e0af26;
  text-align: left;
  text-shadow: #1b1c1f 2px 3px 2px;
  margin-bottom: 20px;
}
.nota{
  margin-top: 20px;
}
input {
  text-align: center;
  color: #fff;
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  border: solid 2px #e0af26;
  background-color: #f7f7f7;
  height: 30px;
  width: 247px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 10px 0px #4e4e4e;
  background-color: transparent;
}
input::placeholder{
  #fff;
}
button {
  margin-top: 20px;
  padding: 4px 10px;
  border-radius: 5px;
  background: #f8d936;
  height: 45px;
  width: 260px;
  cursor :pointer;
  border: solid 2px #fff;
  color: #fff;
}
button:hover {
  transition-duration: 0.1s;
  background-color: #fcaf2b;
  border: solid 2px #ffe252;
  color: #ffe252;
}
button:active {
  transition-duration: 0.1s;
  background: #f7f7f7;
  border: solid 2px #e0af26;
  color: #e0af26;
}
input, button {
  font-size: 1rem;
}
.resultado-final {
  margin-top: 75px;
  color: #eee;
  font-size: 1.8rem;
  font-weight: bolder;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  --webkit-backdrop-filter: blur(100px);
  border-radius: 6px;
  box-shadow: 2px 2px 2px #0e1d2f;
  padding: 0.7rem 0 0.7rem;
}
.media {
  margin-top: 75px;
  color: #eee;
  font-size: 1.8rem;
  box-sizing: border-box;
  background-color: #E0AF26;
  padding: 0.7rem 0 0.7rem;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

input:focus::-webkit-input-placeholder {
   color: transparent;
}
input:focus:-moz-placeholder { /* Firefox 18- */
   color: transparent;  
}
input:focus::-moz-placeholder {  /* Firefox 19+ */
   color: transparent;  
}
input:focus:-ms-input-placeholder {  
   color: transparent;  
}