@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
  height: 100%;
}

@media (max-height: 500px) {
  body {
    min-height: 800px;
  }
}

body {
  background-color: #1c1c1c;
  color: #eee;
  font-family: "Lato";
}

.container {
  background-color: #302326;
  text-align: left;
  height: 35vh;
  color: #fafafa;
  padding: 55px 0 0 35px;
}

.page-subtitle {
  margin-top: 15px;
  font-size: 1.8rem;
}

.page-title {
  margin: 0 0 25px;
  font-size: 2.4rem;
  color: #f9eade;
  text-shadow: #1b1c1f 2px 3px 2px;
}

.page-logo {
  width: 200px;
  padding-bottom: 20px;
}


.barrinha {
  height: 26px;
  background-color: #aed8cc;
}

.conversor-title {
  color: #fbc286;
  margin: 0 0 45px;
  font-size: 2.4rem;
  text-shadow: #1b1c1f 2px 3px 2px;
}

.areaCalculo {
  text-align: center;
  background-color: #f9eade;
  padding-top: 90px;
  height: 65vh;
}

.areaCalculo p {
  margin-bottom: 30px;
}

label {
  font-size: 2.1rem;
  color: #fff;
  text-shadow: #1b1c1f 2px 3px 2px;
}

input {
  text-align: center;
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
  border: solid 3px #92CDD4;
  background-color: #f7f7f7;
  height: 30px;
  width: 260px;
  color: #292929;
}

button {
  margin-top: 20px;
  padding: 4px 10px;
  border-radius: 5px;
  background: #508287;
  height: 48px;
  cursor: pointer;
  border: solid 3px #92CDD4;
  color: #92CDD4;
}

button:hover {
  transition-duration: 0.1s;
  background-color: #92CDD4;
  border: solid 3px #508287;
  color: #508287;
}

button:active {
  transition-duration: 0.1s;
  background: #92CDD4;
  border: solid 3px #f7f7f7;
  color: #f7f7f7;
}

select {
  padding: 7px 9px 6px 23px;
  border-radius: 6px;
  background: #f7f7f7;
  height: 50px;
  cursor: pointer;
  border: solid 3px #92CDD4;
  color: #292929;
  text-align: left;
}

input,
button,
select {
  font-size: 1rem;
}

#valorConvertido {
  margin: 45px 0 750px;
  color: #302326;
  font-size: 2.2rem;
  font-weight: bolder;
  padding: 0.7rem 0 0.7rem;
}

.rodape {
  background-color: #302326;
  text-align: center;
  height: 10vh;
  color: #f9eade;
  padding: 30px 0 0 0;
  text-shadow: #1b1c1f 2px 3px 2px;
}

.rodape a {
  font-weight: 700;
  color: #fbc286;
  text-decoration: none;
}

.rodape a:hover {
  color: #fdce62;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}